 <!-- this page for tabs -->
 <ion-tabs >

    <ion-tab-bar slot="bottom" style="background-color: #333434;">
      <ion-tab-button  tab="Home" style="background-color: #333434;">
        <ion-label>Home</ion-label>
        <ion-icon name="planet-outline" ></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="Projects" style="background-color: #333434;">
        <ion-label>Projects</ion-label>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="Contact" style="background-color: #333434;">
        <ion-label>Contact</ion-label>
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


