<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-center">Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding; content-background-color">
  <div class="main">
    <h3 style="color:#E6E6E1;">My projects</h3>
    <p>I enjoy working on various programming projects in my spare time.</p>
    <p>I feel like the cards below this text looks a little out of whack with the layout
      of the site. What do you think? Hmm, I wouldn't claim to be a UI expert, it just seems off.
    </p>
    <p>Anyway, here are my some projects and links to them. And I will be uploading more projects in the future.</p>
    <ion-card style="background-color: #0D0E0F;">
      <ion-card-header>
        <ion-card-title style="color:#E6E6E1;">Admitration Portal</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <p><a href="https://vimeo.com/440836581" target="_blank">Vimeo video link</a></p>
      </ion-card-header>
    
      <ion-card-content style="color:#8C8D8B;">
        <p>I have gained <b>six</b> month of porfessional internship experience as a junior web developer. When I was working in my internship I developed
          an infrastructure web-based project from start to end for the host company.
        </p>
        <br/>
        <p>For this project I desinged the process notes, front-end, back-end coding with PHP and the realational database with MySql. The three tables 
          for the database also was desnged by myself. 
        </p>
        <br/>
        <p>This project is currently on my local environment and will be soon hosted at Amazon Web Services. Far this reason it is presented as a a Vimeo 
          video. A kindly reminder to listen with maximum sound for better hearing.
        </p>
        <br/>
        <p>The technologies used Angualar, PHP, PHP Mailer, MySql, Git, JSON files and NPM.</p>
      </ion-card-content>
    </ion-card>
    <ion-card style="background-color: #0D0E0F;">
      <ion-card-header>
        <ion-card-title style="color:#E6E6E1;">Revin's Portfolio</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <p><a href="http://www.apple.com" target="_blank">GitHub repository link</a></p>
      </ion-card-header>
    
      <ion-card-content style="color:#8C8D8B;">
        <p>The code of this project will be linked above for the reference as my personal GitHub repo.</p>
        <br/>
        <p> My main objective to start this was to learn about Angular and Ionic framework together. As the first step it is on basic and a 
          simple format and it will be developed with advance techniques in future.
        </p>
        <br/>
        <p>The next plan will be improving the contacts page with more features including AWS SNS service and other services. Furthermore 
          this page will be developed in a dynamic way.
        </p>
        <br/>
        <p>For now, front-end technologies that have been used are Angula+Ionic framework, NGINX and Docker.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
