<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-center">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding; content-background-color">
  <div class="main">
    <h3 style="color:#E6E6E1;">Contact me</h3>
    <p>This page is still on under construction. I will be developing it more with using PHP and MySql at 
      next versions of the app.
    </p>
    <p>For now, the easiest way would be through <a href="http://www.linkedin.com/in/revin-sasanka" target="_blank">LinkedIn</a>. Cheers!</p>
  </div>
</ion-content>
