/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// this for home page setup
.plt-desktop .main {
  padding: 0.5rem;
  margin-left: 32%;
  padding-right: 35rem;
  padding-top: 2.5rem;
}

// iphone padding
.plt-iphone .main {
  padding: 16px;
}

// android padding
.plt-android .main {
  padding: 16px;
}

.plt-desktop .title-center {
  text-align: center;
}

.plt-android .title-center {
  text-align: center;
}


.tab{
  background-color: rgb(56, 53, 53);
  color: white;
}

// ion-title {
//   color: purple;
//   font-size: 30px;
// }

// ion-toolbar {
//   color: purple;
//   background: black;
// }
.new-background-color{
  --background: rgb(56, 53, 53);
  color: white;
}

.content-background-color{
  --background: black;
  
}

.main {
  color:#8C8D8B;
}

// ion-tab-bar{
//   --color-selected: rgb(160, 19, 19) !important; 
// }

ion-tab-button{
  --color-selected: rgb(160, 19, 19) !important; 
}

